* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.h1 {

}
navbar {
  background-color: rgb(255, 255, 255);
  j
}

.container1 {
  background-color:
  ba
  text-align: center;
}

picture {g
  ;
}

btn {
  
}

flex-container {
  text-align: justify;
  display: flexbox;
  font-size: small;

}